*{
    margin: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.container-site{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topo{
    display: flex;
    align-items: center;
    background: black;
    height: 4vh;
    width: 100%;
    font-size: 2.5vh;
    padding: 30px;
}

.topo a{
    color: white;
    padding: 30px;
}

.menu button{
    border: none;
    background: none;
    font-size: 2.5vh;
    color: white;
}

.menu{
    color: white;
    position: relative;
}

.dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 15vw;
    border-radius: 10px;
    padding: 10px;
    background: rgb(99, 99, 99);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;

    transition: 0.5s;
    transform: translateY(-10px);
}

.dropdown a{
    padding: 10px;
}

.dropdown a:hover{
    background: rgb(129, 129, 129);
    transition: 0.2s;
    margin: 0;
    height: 100%;
    width: 100%;
}

.menu:hover .dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.container-main{
    display: grid;
    grid-template-columns: repeat(2, 44vw);
    margin: 2rem;
}

.artigo{
    background: lightgray;
    padding: 30px;
    box-shadow: 6px 6px 4px black;
    border-radius: 10px;
    width: 35vw
}

.artigo h3{
    margin: 0 0 20px 0;
}

.artigo button{
    border: none;
    background: #e94569d5;
    height: 20px;
}

@media (max-width: 700px){
    .topo{
        display: flex;
        justify-content: center;
        align-items: center;

        height: auto;
        width: 100%;
        background: rgb(0, 0, 0);
    }

    .artigo{
        margin: 2vh 0 2vh 0;
        width: 90%;
    }

    .container-main{
        display: flex;
        justify-content: center;
        
        justify-content: center;
        flex-direction: column;
    }
}

.aparece{
    display: flex;
    flex-direction: column;
    position: absolute;
    pointer-events: none;
    background: red;
    width: 50vw;
    height: 50vw
}